.AdminNavbar-Section{
  height: 80px;
  width: 100%;
  background-color: white;
  color: black;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.AdminNavbar-logo {
  width: 150px;
}